:root {
    --light-green: #A2CA39;
    --so-light-green: #EAFBBC;
    --dark-green: #177900;
    --green: #4E7E0D;
    --white: #fff;
    --purple: #732dc4;
    --gray: #4e7e0d;
    --red: #B10000;
}
 ul{
    padding-left: 0;
    list-style: none;
}

.btn.btn-primary {
    background-color: var(--purple);
    border: none;
}

.title-handwriting {
    font-family: 'Pacifico', cursive;
    margin-bottom: 40px;
    color: var(--purple);
}
.title-handwriting-red {
    font-family: 'Pacifico', cursive;
    margin-bottom: 40px;
    color: var(--red);
}
.oswald-font {
    font-family: 'Oswald', sans-serif;
}
.section-padding {
    padding: 70px 0;
}
.text-center {
    text-align: center;
}

/*HEADER*/
.main_header {
    padding: 20px 0;
    background-color: var(--light-green);
}

.main_header img {
    max-width: 100px;
}

.main_header__menu ul {
    padding: 0;
    margin: 0;
}
.main_header__menu li{
    display: inline-block;
    padding: 0 10px;
}
.main_header__menu a {
    color: var(--green)!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

.main_header__dropdown {
    position: relative;
}
.main_header__dropdown:hover  .main_header__submenu{
    display: block;
}

.main_header__submenu {
    display: none;
    position: absolute;
    background: var(--green);
}
.main_header__submenu li{
    width: 100%;
    border-bottom:2px solid var(--light-green);
}
.main_header__submenu a{
    display: inline-block;
    color: var(--white)!important;
    padding: 10px;
    font-size: .8rem;
}

.main_header__form input {
    padding: 10px;
    border: none;
}


.main_header__form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
  }
.main_header__form ::-moz-placeholder { /* Firefox 19+ */
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
  }
.main_header__form :-ms-input-placeholder { /* IE 10+ */
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
  }
.main_header__form :-moz-placeholder { /* Firefox 18- */
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
  }

@media (max-width: 767px){
    .main_header img {
        display: block;
        margin: 0 auto 20px;
    }
    .main_header__menu, .main_header__form, .btn-modal {
        margin-bottom: 20px;
    }
}

/*INTRO*/

.intro {
    background-image: url(../img/bg-intro.png);
    background-size: cover;
    background-position: center;
    height: 460px;
}

@media (max-width: 1199px){
    .intro {
        max-height: 300px;
    }
}

@media (max-width: 810px){
    .intro {
        max-height: 200px;
    }
}

/*CLASSROOM*/
.classroom {
    background-image: url(../img/bg-intro.png);
    background-position: center;
    background-size: cover;
}
.classroom img {
    margin-bottom: 20px;
}

.classrooms_see_all {
    color: var(--green);
    font-weight: 700;
}

.classrooms_cta {
    text-transform: uppercase;
    font-size: 1.5rem;
}

/*PLANOS*/
.idx_plans {
    background-color: var(--so-light-green);
}

.idx_plans__item span {
    display: block;
    padding: 10px 0;
    background-color: var(--green);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
}
.idx_plans__item a{
    text-transform: uppercase;
}
.idx_plans__box {
    padding: 20px 0;
    text-align: center;
    background-color: var(--gray);
}
.idx_plans_title {
    margin: 70px 0 20px;
    color: var(--purple);
}

/*MORE*/
.more {
    padding: 40px 0;
    background-color: var(--green);
}
.more__box-imgs figure {
    position: relative;
}
.more__box-imgs figure:hover {
    filter: grayscale(1);
}
.more__box-imgs figure:hover i {
    opacity: 1;
    transition: .3s all ease;
}
.more__box-imgs i {
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 45%;
    transition: .3s all ease;
    font-size: 3em;
}

@media (max-width: 768px){
    .more__img-logo {
        margin-bottom: 40px;
        text-align: center;
    }
    .more__box-imgs {
        text-align: center;
    }
}

/*FOLLOW NEWS*/


.follow_news li {
    margin: 0 10px;
}

/*FOOTER*/
.footer {
    background-color: var(--green);
}
.footer_sociais li {
    margin: 0 10px;
}

.footer_sociais i {
    font-size: 3rem;
    color: #FFF;
}
.footer-copy {
    background-color: var(--dark-green);
    color: #FFF;
}